.chat-main
  .group-info
    .group-info__left-box
      .group-info__current-group
        test
      %ul.group-info__member-list
        Member :    
        %li.group-info__member-list__member
          masa
    %a(href='#')
      .edit-btn
        Edit

  .message-list
    .message-list__info
      %p.message-list__name
        masa
      %p.message-list__date
        2020/04/08(Wed) 13:01:47
    .text
      おはよう！
    .message-list__info
      %p.message-list__name
        masa
      %p.message-list__date
        2020/04/08(Wed) 13:01:53
    .text
      今日は夜から雨です。

  .message-form
    %form.new_message
      .input-box
        %input{class:"input-box__text", placeholder: "type a message", type: "text"}
          %label{class:"input-box__image"}
            = icon('fas', 'image')
            %input{class:"input-box__image__file", type: "file"}
      %input{class:"submit-btn", type:"submit", name:"commit", value:"Send"}



